.user-header {
    display: flex;
    flex-direction: row;
    background-color: var(--color-primary);
    height: 10vh;
    padding-top: 2rem;
    justify-content: center;
}

.user-header-content {
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    flex: 1;
}

.name-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name-box p {
    color: var(--color-text-in-primary);
    margin-left: 2rem;
}

.name-box img {
    height: 5rem;
    width: 5rem;
}

.logoff-box {
    cursor: pointer;
}